/* gallery.css */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.timeline-start, .timeline-end {
    text-align: center;
    font-weight: bold;
    color: #333;
    position: relative;
    width: 100%;
}

.timeline-start {
    border-bottom: 2px solid #333;
    margin-bottom: 100px; 
}

.timeline-end {
    border-top: 2px solid #333;
    margin-top: -2px; 
}
body.no-scroll {
    overflow: hidden;
}
body {
    margin: 0;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    background: #F1F2F6;
}

h1 {
    text-align: center;
    font-weight: 300;
    color: #777;
}

h1 span {
    font-weight: 600;
}

.container {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    top:71px;
    height: 4764px;
    background: #CCD1D9;
    z-index: 1;
}

.timeline-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 9999;
}

.timeline-content {
    width: 45%;
    padding: 0 15px;
    color: #666;
}

.timeline-content-left {
    
    text-align: left;
    margin-left: 0;
    padding-right: 15px;
}

.timeline-content-right {
    text-align: left;
    margin-right: 0;
    padding-left: 15px;
}

.timeline-content h3, .timeline-content h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
}

.timeline-content ul {
    list-style-position: inside; 
    padding: 0;
    margin: 0;
}

.timeline-content-left ul, .timeline-content-right ul {
    padding: 0; 
}

.timeline-content li {
    text-align: left; 
    margin-left: 0; 
}

.gallery-item {
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-item.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4FC1E9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
}
.download-button:hover {
    background-color: #3ba8d1;
}
.gallery-item iframe {
    width: 100%;
    height: calc(100% - 50px); /* Adjust height to leave space for the download button */
    border: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.hidden {
    display:none;
}
.overlay.active {
    display: block;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .container:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        flex-direction: column;
        align-items: center;
    }
    .timeline-content {
        width: 100%;
        text-align: center;
    }
    .timeline-content-left, .timeline-content-right {
        text-align: center;
    }
}